body{
		display: flex;
			justify-content: center;
			background: pink;
	}

	#container {
		position: relative;
		top: 100px;
		width: 500px;
	}
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

	#content-box{
		background: #fff;
		padding: 15px;
		margin-bottom: 15px;
	}

ul {
  position: relative;
  margin-bottom: 13px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
}

a {
  text-decoration: none;
  background: #fff;
  padding: 15px;
}

a:hover{
    background:red;
}
